<div class="container">
  <h1>Meeting Room Manager</h1>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/room-management" routerLinkActive="active">Room Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/program-recording" routerLinkActive="active">Program Recording</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/room-occupancy-schedule" routerLinkActive="active">Room Occupancy Schedule</a>
      </li>
    </ul>
  </nav>
  <hr>
  <router-outlet></router-outlet>
</div>
